<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Hire me</title>
</head>
<body class='body1'>
	<div>
        <div>
            <div>
                <p class='p1'>Having a question? Simply get in touch with me. </p>
                <p class='p1'>Talk with a Tester now.</p>
                <br>
                <hr>
                <p><strong>Let's go old fashion.</strong></p>
                <p> Telephone number:
                    <a href="tel:+1(773)931-3195" title="contact phone">+1(773)931-3195</a>
                    <p>Call me!</p>
                </p>
                <span style="font-size:30px">&#9993;</span>
               	<p>Email Address: <a href="mailto:bayas.edu.ne@gmail.com" title="contact email">bayas.edu.ne@gmail.com</a>
                <p>Write me an email!</p>
            </div>
        </div>
    </div>
</body>
